<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">

</head>

<body class="">
    <header>
        <div class="border-b-2 border-blue-800 h-20 ">
            
          <nav id="navegacion" class="bg-blue-300 h-[78px] right-0 left-0 ">
          </nav>
        </div>    
    </header>

   

    <div class="py-4 gap-4 h-full flex max-w-7xl mx-auto justify-center items-center px-4 flex-row-reverse ">

        <div>
            <img src="/img/undraw_travelers_re_y25a.svg" alt="" class="max-md:hidden">
        </div>
        <form id="formulario" class="flex flex-col gap-4 bg-blue-300 p-4 rounded-lg text-lg shadow-xl lg:w-2/4 ">

            <div class="flex flex-col gap-2">
                <label for="nombre-input" class="font-bold">Nombre y Apellido <span class="text-white">*</span></label>
                <input type="text" name="nombre-input" id="nombre-input" autocomplete="off"
                    placeholder="Nombre y Apellido" class="rounded-lg p-2 focus:outline-blue-700">
                <p class="text-xs ">El nombre y el apellido deben comenzar con letra Mayuscula</p>
            </div>

            <div class="flex flex-col gap-2">
                <label for="correo-input" class="font-bold">Correo <span class="text-white">*</span></label>
                <input type="email" name="correo-input" id="correo-input" autocomplete="off"
                    placeholder="Correo electronico" class="rounded-lg p-2 focus:outline-blue-700">
                <p class="text-xs">El correo es obligatorio</p>
            </div>

            <div class="flex flex-col gap-2">
                <label for="password" class="font-bold">Password <span class="text-white">*</span></label>
                <input type="password" name="password-input" id="password-input" 
                    class="rounded-lg p-2 focus:outline-blue-700"  autocomplete="new-password">
                <p class="text-xs">Debe tener al menos 1 letra Mayuscula,
                    <br>Debe tener al menos una letra munuscula
                    <br>Debe tener al menos 1 numero,
                    <br>Debe tener al menos 1 caracter especial.
                </p>
            </div>

            <div class="flex flex-col gap-2">
                <label for="password" class="font-bold">Confirmar Contraseña <span class="text-white">*</span></label>
                <input type="password" id="password-input2" class="rounded-lg p-2 focus:outline-blue-700"  autocomplete="new-password">
                <p class="text-xs">Debe coinsidir con el password ingresado en el campo anterior</p>
            </div>

            <button id="form-btn" disabled
                class="bg-blue-950 px-4 rounded-lg text-white hover:bg-blue-400 py-2 font-bold transition ease-in-out disabled:opacity-40 disabled:cursor-not-allowed">Registrar</button>

        </form>
        <div class=" ">
            <img src="/img/undraw_travel_plans_re_103r.svg" alt="" class="max-md:hidden">
        </div>

    </div>
    <footer
        class="flex flex-col items-center bg-neutral-900 text-center text-white font-overpass ">
        <div class="container px-6 pt-6">
                    
              <div>
                <div class="md:mb-6 md:ml-auto">
                  <p class="">
                    <strong>Tu Lo sueñas, Nosotros te llevamos!!</strong>
                  </p>
                </div>
        <!-- Copyright section -->
        <div
          class="w-full p-4 text-center"
          style="background-color: rgba(0, 0, 0, 0.2)">
          © 2023 Copyright:
          <a class="text-white" href="https://tw-elements.com/">Malvis Travel's CA</a>
        </div>
    </footer>

    <script src="../componentes/nav.js"></script>
    <script src="registro.js"></script>
    <!--<script src="../componentes/notificaciones.js"></script>-->
</body>



</html>