<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <script src="https://cdn.tailwindcss.com"></script>
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="bg-blue-200 text-blue-950">
        <header>
            <div class="border-b-2 border-blue-800 h-20 ">
                
                <nav id="navegacion" class="bg-blue-300 h-[78px] right-0 left-0 flex items-center">
                    <a href="/admon" class="">
                        <img src="/img/LOGO2.png" alt="" class="w-1/5 py-4 mx-4">
                    </a>
                    <a href="/" class="px-4"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10">
                            <path fill-rule="evenodd" d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z" clip-rule="evenodd" />
                          </svg>
                           
                    </a>
                    
                </nav>
            </div>    
        </header>

        <!--Container-->
        <div>
            <!--comienzo-Menu-->
            <aside class="md:w-2/5 lg:w-2/5 xl:w-1/5 bg-blue-600 px-5 py-10">
                <h1 class="uppercase text-white tracking-wide text-2xl  font-bold mt-2">RESTAURANT APP</h1>
                <p class="mt-10 text-white">Administra tus Productos</p>
                <nav class="mt-8">
                    <a  
                        href="/" 
                        class="px-3 py-1 text-white block hover:bg-blue-700 hover:text-yellow-400 bg-blue-700"
                    >Ventas</a>
                    <a 
                        href="nuevo-producto.html" 
                        class="px-3 py-1 text-white block hover:bg-blue-900 mt-2 hover:text-yellow-400"
                    >Nuevo Proveedor
                        <ul>
                            <li>
                                Editar Proveedor
                            </li>
                        </ul>
                    </a>
                    <a href="">

                    </a>
                </nav>
            </aside> <!--sidebar-->
        </div>

    <script src=""></script>
    <script src="./index.js"></script>
</body>
</html>