<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
                backgroundImage: {
                "container": "url('/img/LOGO2.png')",
                "containerA":"url('/img/busv.png')",
                "puestos":"url('/img/asiento-vertical.png')",
                "bano":"url('/img/baño.png')",
                "escalera":"url('/img/escaleras.png')"
                }
            }
          }
        }
      </script>
      
</head>
<body class="min-[320px]:w-auto">

    <header class="border-b-2 border-blue-800 h-20 ">
        
            
          <nav id="navegacion" class="bg-blue-300 h-[78px] right-0 left-0 "></nav>
        </div>    
    </header>

    <section  class="m-auto" id="bus">
        
        <h2 class="font-overpass font-bold text-3xl text-center my-6">Seleccione el/los assientos</h2>

        <div class=""> <!--Bus-->

             <div class="flex justify-center items-center md:-rotate-90 md:h-[300px] ">
                <div class="bg-containerA bg-no-repeat h-[800px] w-[300px] bg-contain bg-center pt-[140px]"><!--PISO 1-->
                    
                <div class="flex justify-center ">
                    <div class="pl-4 "><!--margen ventana-acientos-->
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90 ">
                                <p>1</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>2</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>3</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>4</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>5</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>6</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>7</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>8</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>9</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>10</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>11</p>
                            </div>
                            <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                                <p>12</p>
                            </div>
                    </div>
                    <div><!--Asientos A-->
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="1a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">
                            <input id="2a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="3a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="4a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="5a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="6a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="7a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="8a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="9a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="10a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="11a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="12a" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div id="--" class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4  pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90 mt-0 "> <p>A</p> </div>
                    </div>
                    <div><!--Asiesntoss B-->
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="1b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">
                            <input id="2b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="3b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="4b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="5b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="6b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="7b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="8b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="9b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="10b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="11b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="12b" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div id="--" class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4  pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90 mt-0 "> <p>B</p> </div>
                    </div>
                    <div><!--margen ventana-acientos-->
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                    </div>
                    <div><!--Asiestoss C-->
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="1c" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div id="--" class=" bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1  bg-green-700 bg-escalera cursor-default bg-transparent md:rotate-90">  </div>
                        <div id="--" class="bg-bano  bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1  bg-green-700 bg-transparent cursor-default md:rotate-90">  </div>
                        <div  class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="4c"type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div  class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="5c"type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="6c" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input  id="7c"type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="8c" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="9c" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">
                            <input id="10c" type="checkbox" class="w-12 h-12 hidden">
                          </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="11c" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="12c" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div id="--" class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4  pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90 mt-0 "> <p>C</p> </div>
                    </div>
                    <div><!--Asiesntoss D-->
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="1d" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div id="--" class=" bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1  bg-green-700 bg-escalera cursor-default bg-transparent md:rotate-90">  </div>
                        <div id="--" class="bg-bano bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1  bg-green-700 bg-transparent cursor-default md:rotate-90">  </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="4d" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="5d" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="6d" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="7d" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="8d" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="9d" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="10d" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700">  
                            <input id="11d" type="checkbox" class="w-12 h-12 hidden">
                        </div>
                        <div class="asientos bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 cursor-pointer bg-green-700"> 
                            <input id="12d" type="checkbox" class="w-12 h-12 hidden">
                         </div>
                        <div id="--" class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4  pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90 mt-0 "> <p>D</p> </div>
                    </div>
                    <div><!--margen ventana-acientos-->
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                        <div class="text-left w-2.5 h-[35px] leading-9 font-bold rounded-[5px]  px-3 mb-4 mt-4 pb-2.5  cursor-default text-[20px] flex justify-center items-center md:rotate-90">
                            
                        </div>
                    </div>
                </div>
                </div>
             </div>

            <div class="flex justify-center my-4">


                <div id="asientos-seleccionados" class="border-2 w-28 h-28 uppercase font-semibold text-center flex justify-center items-center flex-col">
                    <h3 class="text-xs my-2 text-blue-300">Asientos seleccionados</h3>
                </div>
            </div>
                

             </div>

            <div class="flex items-center justify-center my-4 relative md:z-50"><!--Botones-->
                <div class="mb-6 md:m-auto mx-4 flex ">
                    <button
                      id="reservar"
                      type="submit"
                      class="cursor-pointer mx-4 bg-red-500 text-white hover:text-black font-bold hover:bg-red-300 py-2 px-4 rounded-lg transition ease-in-out w-1/2 text-center"
                      data-te-ripple-init
                      data-te-ripple-color="light">
                      Reservar
                    </button>
                    <button
                    id="comprar"
                    type="submit"
                    class="cursor-pointer btnBus mx-4 bg-blue-500 text-white hover:text-black font-bold hover:bg-blue-300 py-2 px-4 rounded-lg transition ease-in-out w-1/2 text-center"
                    data-te-ripple-init
                    data-te-ripple-color="light">
                    Comprar
                  </button>
                  
                  </div>
            </div>
        </div>

        <div class="m-6"> <!---->
        <div class="flex justify-center gap-8">
            <div class="flex flex-col justify-center items-center font-overpass font-semibold"> <!--Disp-->
            <div  class="bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1  bg-green-700 cursor-default "></div> 
            <div>
                <p>Disponible</p>
            </div> 
            </div>    
            <div class="flex flex-col justify-center items-center font-overpass font-semibold"><!--Reser-->
                <div  class="bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1 r  cursor-default bg-red-700">   </div>
                <div>
                    <p>Reservado</p>
                </div> 
            </div>
            <div class="flex flex-col justify-center items-center font-overpass font-semibold"><!--Vendido-->
                <div  class="bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1   cursor-default bg-gray-700">   </div> 
                <div>
                    <p>Vendido</p>
                </div> 
            </div>
            <div class="flex flex-col justify-center items-center font-overpass font-semibold"><!--seleccionado-->
                <div  class="bg-puestos bg-cover w-12 h-12 leading-9 text-black bg-no-repeat font-semibold rounded-[5px] my-1 mx-1   cursor-default bg-orange-500">   </div> 
                <div>
                    <p>Seleccionado</p>
                </div> 
            </div>
                       
        </div>
       
        
        </div>

        

        </div>
       
       
    </section>

     <!-- Ventana emergente para agregar datos del pasajero -->
    <div id="ventanaEmergente" class=" w-auto md:w-full rounded-lg mx-8  my-6 h-1/7 p-4 md:p-8 hidden md:flex md:flex-col md:justify-center md:items-center">
        
    </div>
            
    <!--Metodos de pago-->

    
   <!-- <div id="ventanaMetodosPago" class="fixed inset-0 bg-gray-800 bg-opacity-50 z-50">
        <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md">
            <h2 class="text-2xl font-bold mb-4">Selecciona tu método de pago</h2>
            
            <!-- Contenido específico de PayPal
            <div class="flex items-center mb-4">
            <img src="/img/paypal-seeklogo.com.svg" alt="PayPal Logo" class="w-8 h-8 mr-2">
            <span class="text-lg">PayPal</span>
            </div>
    
            <div id="paypal-button-container"></div>
    
            <div class="flex justify-end">
            <button id="cerrarVentanaPago" class="text-white bg-blue-500 px-4 py-2 rounded-md">Cerrar</button>
            </div>
        </div>
        </div>
    </div>-->
    
    <script src="../componentes/nav.js"></script>
    <script  src="./index.js"></script>
    
</body>
</html>