<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Malvis Travel's</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
    </head>
<body class="bg-blue-200 text-blue-950">
    
        <section class="flex flex-col justify-center items-center my-20 gap-4">
            <div class=" font-bold text-xl">
                <h2>¡Confirmación de Registro!</h2>
            
            </div>
            <div class="flex flex-col justify-center items-center">
                <p>Gracias por registrarte en nuestra aplicación. Tu cuenta ha sido verificada con éxito.</p>
                <p>¡Ahora puedes iniciar sesión!</p>
                <!-- Puedes agregar enlaces o botones adicionales según tus necesidades -->
                <a href="/login" class="font-bold text-blue-700">Ir a la página de inicio de sesión</a>
            </div>
            <img src="/img/LOGO2.png" alt="" class="w-1/2">
        </section>    
        
    
    
</body>
</html>