<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malvis Travel's</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="bg-blue-200 text-blue-950 font">
    <header>
        <div class="border-b-2 border-blue-800 h-20">
            <nav id="navegacion" class="bg-blue-300 h-[78px] right-0 left-0">
                <!-- Puedes agregar elementos de navegación aquí -->
            </nav>
        </div>
    </header>

    <!-- Contenedor principal -->
    <div class="text-center text-blue-950 mt-8">
        <span class="text-xs text-gray-400">Para seleccionar, haz clic en el logo de la empresa</span>

        <div class="w-[90%] mx-auto">
            <div class="flex mt-4 text-xs gap-4">
                <!-- Buses encontrados -->
                <div class="text-center">
                    <span>Buses encontrados</span>
                </div>
                <!-- Filtro -->
                <div class="border-2 border-blue-950 flex gap-4 rounded-md w-full justify-center items-center text-center">
                    <!-- Salida -->
                    <div class="w-[25%]">
                        <a href="#">Salida</a>
                    </div>
                    <!-- Calificación -->
                    <div class="w-[25%]">
                        <a href="#">Calificación</a>
                    </div>
                    <!-- Precio -->
                    <div class="w-[25%]">
                        <a href="#">Precio</a>
                    </div>
                </div>
            </div>

            <div class="flex flex-col mt-auto w-auto  ">
                    <div class="py-2 overflow-x-auto flex justify-center">
                        <div class="align-middle inline-block shadow  rounded-md overflow-hidden sm:rounded-lg border-b border-gray-200 md:w-full md:mx-2">
                            <table class="min-w-min md:w-full md:text-center">
                                <thead class="bg-gray-100 text-center">
                                    <tr >
                                        <th class="px-6 py-3 border-b  border-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase text-center tracking-wider">
                                            logo
                                        </th>
                                        <th class="px-6 py-3 border-b  border-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase text-center tracking-wider">
                                            empresa
                                        </th>
                                        <th class="px-6 py-3 border-b  border-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase text-center tracking-wider">
                                                origen
                                        </th>
                                        <th class="px-6 py-3 border-b  border-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase text-center tracking-wider">
                                                destino
                                        </th>
                                        <th class="px-6 py-3 border-b  border-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase text-center tracking-wider">
                                                fecha
                                        </th>
                                        <th class="px-6 py-3 border-b  border-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase text-center tracking-wider">
                                            precio
                                        </th>
                                        <th class="px-6 py-3 border-b  border-gray-200 text-left text-xs leading-4 font-medium text-gray-600 uppercase text-center tracking-wider">
                                            seleccionar
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="listadoR" class="bg-white items-center">
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
  <!-- Logo y Detalles -->
  
            <tbody id="resultadoBusqueda" class="flex mt-2 mx-2 gap-4 ">

            </tbody>
        </div>
    </div>

    <script src="./index.js"></script>
    <script src="../componentes/nav.js"></script>
</body>

</html>
